{% extends 'medicalapp/admintemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}
<div class="container-fluid">
    <div class="block-header">
        <h2>Create or Update Organization</h2>
    </div>

    <div class="row clearfix">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>
</div>
{% endblock content %}