{% extends 'medicalapp/clienttemplates/base.html' %}
{% load static %}
{% block gallery %}active{% endblock gallery %}


{% block content %}

<!-- banner -->
<div class="banner_inner_content_agile_w3l">
	
</div>
	<!--//banner -->
	<!-- gallery -->
	<div class="gallery">

		<h2 class="heading-agileinfo">Our Gallery<span>We offer extensive medical procedures to outbound and inbound patients.</span></h2>
		<div class="container">
			<div class="gallery-grids">
				{% for gallery in gallerys %}
					<div class="col-md-4 col-sm-4 gallery-grid">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="{{gallery.image.url}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
									<img src="{{gallery.image.url}}" alt="" />
									<figcaption>
										<p>{{gallery.title}}</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					{% endfor %}
			<div class="clearfix"> </div>
			<script src="{% static 'clientstatic/js/lightbox-plus-jquery.min.js' %}"> </script>
			</div>
		</div>
	</div>
	<!-- //gallery -->
{% endblock content %}